.middleChildren {
}

.rightChildren {
}

.leftChildren {
	background-color: gray;
	border-radius: 15px;
	opacity: 0.8;

	height: 317px;
	z-index: 3;
	width: 384px;
	left: 15%;
	margin-top: 117px;
	position: absolute;
}
