.backgroundCoinDetails {
	background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
	width: 100%;
	height: 831px;
}

.gradientRotateTop {
	transform: rotate(179deg);
	width: 104%;
	margin-top: -60px;
	margin-left: -31px;
}
.gradientRotateBottom {
	transform: rotate(359deg);
	width: 104%;
	margin-top: -13px;
	margin-left: -31px;
}
