.timelineBackground {
	height: 1000px;
	width: 100%;
	margin-top: 36px;
}
.verticalTimeline {
	height: 800px;
	width: 11px;
	background: rgb(106, 0, 255);
	background: linear-gradient(180deg, #fd749b 1%, #281ac8 113%);

	position: absolute;
	left: 51%;
	margin-top: 7%;
	border-radius: 20px;
}
.colorLine {
	width: 80px;
	height: 8px;
	background-color: rgb(241, 0, 141);
	border-radius: 20px;
}
.titleTimeline {
	position: absolute;
	left: 52%;
	margin-top: 7px;
	font-size: 1.8rem;
	font-weight: 600;
	color: #ff00ac;
	width: 156px;
}

.textTimeline {
	position: absolute;
	text-align: right;
	font-weight: 700;
	margin-top: 74px;
}
.itemTimelineWrapper {
	position: absolute;

	left: 339px;
	margin-top: 127px;
	height: 217px;
	width: 390px;
}

.itemTimelineWrapperSecond {
	position: absolute;

	right: 301px;
	margin-top: 421px;
	height: 217px;
	width: 390px;
}
.itemTimelineWrapperThird {
	position: absolute;

	left: 339px;
	margin-top: 681px;
	height: 217px;
	width: 390px;
}
.pointCoords1 {
	margin-top: 240px;
}
.pointCoords2 {
	margin-top: 529px;
}
.pointCoords3 {
	margin-top: 780px;
}
.timeLinePoint {
	width: 42px;
	height: 11px;
	background: rgb(106, 0, 255);
	background: linear-gradient(180deg, #fd749b 1%, #281ac8 113%);
	border-radius: 20px;
	position: absolute;
	left: 50%;
}
.middleHistoryTitle {
	text-align: center;
	color: #e02acf;
	background: rgb(106, 0, 255);
	background: linear-gradient(180deg, #fd749b 1%, #281ac8 113%);
	font-weight: 700;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bottomTextTimeline {
	position: absolute;
	font-weight: 600;
}
