.MiddleCardSectionBackground {
	background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
	width: 100%;
	height: 500px;
}
.MiddleCardwavePosition {
	margin-left: -27px;
	width: 115%;
	margin-top: 338px;
	height: 176px;
	position: absolute;
}
