.MiddleCardSectionBackground {
	background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
	width: 100%;
	height: 500px;
}
.MiddleCardwavePosition {
	margin-left: -20px;
	width: 129%;

	margin-top: 142px;
	height: 416px;
	position: absolute;
}
