.TeamSection {
	width: 100%;
	margin-bottom: 50px;
}
.colorLine {
	width: 80px;
	height: 8px;
	background-color: rgb(241, 0, 141);
	border-radius: 20px;
}
.marginsThumbnail {
	margin-left: -20px;
	margin-right: -20px;
}

.mainThumbnail {
	margin-left: -34px;
	margin-right: -34px;
}
.secondaryThumbnail {
	height: 229px;
}
.thirdThumbnail {
	height: 192px;
	margin-left: -34px;
	margin-right: -34px;
}
.mainWrapper {
	display: block;
	margin: 7px 175px;
}
