.testimonialHeaderTextWrapper {
	width: 44%;
	margin: auto;
	margin-bottom: 36px;
}

.testimonialTitle {
	color: #b329c1;
	text-align: center;
	z-index: 7;
	margin-top: 24px;
	font-size: 2rem;
	font-weight: 700;
}
.TestimonialLine {
	height: 9px;
	width: 105px;

	border-radius: 20px;
	background: radial-gradient(
		100% 100% at 46.86% 0%,
		#ff00ffc2 0%,
		#ec0fdb 100%
	);
}
.testimonialFullText {
	text-align: center;
	width: 423px;
	font-size: 19px;
	font-weight: 400;
	color: black;
	line-height: 47px;
}
.testimonialTextContainer {
	text-align: center;
	margin-top: 20px;
	width: 100%;
}
.smallFontSize {
	line-height: 3.4rem;
	font-size: 1.6rem;
	font-weight: 600;
}
.lineMiddle {
	margin-left: 40%;
}
