.headerText_font {
	font-family: "Poppins";
	font-size: 39px;
	line-height: 42px;
	width: auto;
	height: 60px;
	font-weight: bolder;
	margin: auto;

	background: -webkit-linear-gradient(rgb(234, 5, 255), rgb(230, 13, 132));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
